header{
	background: red;
	padding : 10px;
}
	nav #navigation{
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
		#navigation li {
			display: inline;
		}
			#navigation li a{
				color : inherit;
			}
			#navigation li a:hoover{
				liste-sytle : none;
			}